@charset 'utf-8';

/* Company Name Style Start */
.companyname{
    color: black;
    font-family: $nav-header-font;
    font-size: 3vw;
    float: left;
    margin-left: 2%;
    transition: ease-in-out 0.4s all;
    line-height: 120px;
}
/* Company Name Style End */

/*Navigation Bar Styles Start*/
.nav-bar{
    width: 100%;
    height: 120px;
    font-family: $main-font;
    font-size: 1.6vw;
    letter-spacing: 2px;
}

.nav-bar ul li{
    list-style-type: none;
    float: right;
    line-height: 120px;
    margin-right: 2%;
}

.nav-bar ul li a{
    text-decoration: none;
    color: black;
    transition: ease-in-out 0.4s all;
}

.nav-bar ul li a:hover{
    color: $brand-color;
    letter-spacing: 3px;
}
/*Navigation Bar Styles End*/

/*Nav-Bar Media Queries Start*/
@media only screen and (max-width: 1024px){
    .nav-bar ul li a{
        font-size: 25px;
    }
}
/*Nav-Bar Media Queries End*/