@font-face {
    font-family: 'porter';
    src: url('../fonts/Porter.ttf');
}

p, input, label {
    font-family: $main-font;
    line-height: 1.6;
    font-size: 20px;
}

h1, h2, h3 {
    font-family: $main-heading-font;
    font-weight: bold;
}

a {
    text-decoration: none;
}

a {
    color: black
}

a:hover {
    color: $brand-color;
}



