@charset 'UTF-8';
@import 'variables';

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.heading-address{
    font-family: $main-font;
    margin-top: 15px;
}

.heading-contact{
    font-family: $main-font;
}

.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "google-maps nearest-location" "contact-us .";
  }
  
  .google-maps {
    grid-area: google-maps;
  }

  .google-maps img{
    margin-left: 45px;
    margin-top: 45px;
    width: 950px;
  }
  
  .nearest-location {
    grid-area: nearest-location;
    margin-left: 45px;
    width: 100%;
    height: auto;
    text-align: center;
  }

  .nearest-location-text{
      margin-top: 100%;
      font-size: 25px;
  }

  #address{
      border: none;
      border-bottom: 1px solid gray;
      margin-top: 15px;
      font-size: 25px;
  }

  .contact-us {
    grid-area: contact-us;
    margin-top: 18px;
    margin-left: 525px;
    text-align: left;
    width: auto;
  }

  .question{
      text-align: center;
  }

  .question p{
      font-size: 25px;
  }
  .question h2{
      font-size: 44px;
      font-family: $main-font;
  }

  .form-align-inside input:not([type='submit']) {
    font-size: 1.3em;
    font-family: sans-serif;
    margin-bottom: 20px;
    padding: 6px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

#submit{
    background-color: black;
    color: white;
    border: none;
    padding: 5px;
    width: 16%;
    margin-left: 325px;
}



#comment{
    border: none;
    position: relative;
    font-family: $main-font;
    display: block;
    padding: 5px 5px;
    font-size: 1.2em;
    background-color: #fff;
    color: black;
    width: 750px;
    height: 300px;
    border: 2px solid lightgray;
}