@charset 'UTF-8';
@import 'variables';

    main{
        display: flex;
    }

    #googlemap-image{
        width: 825px;
        height: 100%;
        margin-left: 5px;
        border: 1px solid gainsboro;
    }

    .form{
        margin-left: 60px;
        width: 520px;
        padding: 35px;
    }

    #FirstName, #LastName, #email{
        display: inline-block;
        width: 250px;
        text-align: left;
        margin-right: 6px;
        margin-bottom: 15px;
        font-size: 1.3em;
    }
    
    input:not([type='submit']){
        display: inline-block;
        width: 260px;
        padding: 4px;
        font-size: 1.3em;
        font-family: sans-serif;
        border: none;
        background-color: rgb(233, 233, 233);
        transition: background 0.5s ease;
    }
    
    input:not([type='submit']):focus{
        background-color: rgba(187, 186, 186, 0.600);
        outline: none;
    }

    #send{
        background-color: black;
        border: none;
        color: white;
        margin-left: 170px;
        width: 100px;
    }

    #comments{
        font-family: $main-font;
        border: 2px solid gray;
    }

    .nearest-location {
        margin-left: 100px;
        width: 100%;
        height: auto;
        text-align: center;
      }
    
      .nearest-location-text{
          margin-top: 65%;
          font-size: 25px;
          font-family: $main-font;
      }
    
      #address{
          border: none;
          border-bottom: 1px solid gray;
          margin-top: 15px;
          margin-bottom: 15px;
          font-size: 25px;
      }

      
      .maxl{
        margin:25px;
        margin-left: 0px;
      }
      .inline{
        display: inline-block;
      }
      .inline + .inline{
        margin-left:10px;
      }
      .radio{
        color:#999;
        font-size:15px;
        position:relative;
      }
      .radio span{
        position:relative;
         padding-left:20px;
      }
      .radio span:after{
        content:'';
        width:15px;
        height:15px;
        border:3px solid;
        position:absolute;
        left:0;
        top:1px;
        border-radius:100%;
        -ms-border-radius:100%;
        -moz-border-radius:100%;
        -webkit-border-radius:100%;
        box-sizing:border-box;
        -ms-box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
      }
      .radio input[type="radio"]{
         cursor: pointer; 
        position:absolute;
        width:100%;
        height:100%;
        z-index: 1;
        opacity: 0;
        filter: alpha(opacity=0);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
      }
      .radio input[type="radio"]:checked + span{
        color:#5893A8;  
      }
      .radio input[type="radio"]:checked + span:before{
          content:'';
        width:5px;
        height:5px;
        position:absolute;
        background:#0B8;
        left:5px;
        top:6px;
        border-radius:100%;
        -ms-border-radius:100%;
        -moz-border-radius:100%;
        -webkit-border-radius:100%;
      }


      /* Window Scaling media queries */
    @media only screen and (max-width: 1800px){
        #googlemap-image{
            margin-left: 15px;
        }

        .nearest-location{
            margin-left: 130px;
        }
    }

    @media only screen and (max-width: 1680px){
        #googlemap-image{
            width: 700px;
            margin-left: 25px;
        }

        .nearest-location{
            margin-left: 68px;
        }
    }

    @media only screen and (max-width: 1625px){
        #googlemap-image{
            width: 650px;
            margin-left: 20px;
            margin-top: 25px;
        }

        .nearest-location{
            margin-left: 60px;
        }
    }

    @media only screen and (max-width: 1555px){

        main{
            display: block;
        }

        #googlemap-image{
            display: block;
            width: 950px;
            height: 100%;
            margin-left: 215px;
        }

        .nearest-location{
           display: block;
           margin-left: 40%;
           margin-top: -150px;
           width: 350px;
           height: auto;
        }

        .form{
            margin-left: 27%;
        }

        #FirstName, #LastName, #email{
            display: inline-block;
            width: 400px;
            text-align: left;
            margin-right: 6px;
            margin-bottom: 15px;
            font-size: 1.3em;
        }

        #comments{
            width: 600px;
            border: 2px solid gray;
        }

        #send{
            background-color: black;
            border: none;
            color: white;
            margin-left: 225px;
            margin-top: 10px;
            width: 150px;
        }

    }

    @media only screen and (max-width: 1180px){
        main{
            display: block;
        }
        
        #googlemap-image{
            display: block;
            width: 950px;
            height: 100%;
            margin-left: 115px;
        }

        .nearest-location{
           display: block;
           margin-left: 38%;
           margin-top: -175px;
           width: 350px;
           height: auto;
        }

        .form{
            margin-left: 23%;
        }

        #FirstName, #LastName, #email{
            display: inline-block;
            width: 400px;
            text-align: left;
            margin-right: 6px;
            margin-bottom: 15px;
            font-size: 1.3em;
        }

        #comments{
            width: 600px;
            border: 2px solid gray;
        }

        #send{
            background-color: black;
            border: none;
            color: white;
            margin-left: 225px;
            margin-top: 10px;
            width: 150px;
        }
    }

    @media only screen and (max-width: 1072px){
        main{
            display: block;
        }
        
        #googlemap-image{
            display: block;
            width: 950px;
            height: 100%;
            margin-left: 60px;
        }

        .nearest-location{
           display: block;
           margin-left: 38%;
           margin-top: -175px;
           width: 350px;
           height: auto;
        }

        .form{
            margin-left: 20%;
        }

        #FirstName, #LastName, #email{
            display: inline-block;
            width: 400px;
            text-align: left;
            margin-right: 6px;
            margin-bottom: 15px;
            font-size: 1.3em;
        }

        #comments{
            width: 600px;
            border: 2px solid gray;
        }

        #send{
            background-color: black;
            border: none;
            color: white;
            margin-left: 225px;
            margin-top: 10px;
            width: 150px;
        }
    }

    /* Tablet & Mobile Device Media Queries */

    /*iPad Pro*/
    @media only screen and (max-width: 1024px){

        main{
            display: block;
        }

        #FirstName, #LastName, #email{
            font-size: 2.2em;
        }

        .form{
            display: block;
            margin-left: 17%;
        }

        #googlemap-image{
            margin-top: 25px;
            width: 850px;
            margin-left: 85px;
        }

        .nearest-location{
            margin-left: 36%;
        }
    }
    
    /*iPad*/
    @media only screen and (max-width: 768px){

        #googlemap-image{
            margin-left: 23px;
            width: 730px;
            margin-top: 5px;
        }

        .nearest-location{
            margin-left: 30%;
        }

        .form{
            margin-left: 70px;
        }
    }

    
    @media only screen and (max-width: 415px){

        main{
            display: block;
        }
        
        #googlemap-image{
            display: block;
            width: 400px;
            height: 100%;
            margin-left: 6px;
        }

        .nearest-location{
           display: block;
           margin-left: 8%;
           margin-top: -190px;
           width: 350px;
           height: auto;
        }

        .form{
            margin-left: 5px;
            width: 410px;
        }

        #FirstName, #LastName, #email{
            display: inline-block;
            width: 270px;
            text-align: left;
            margin-right: 6px;
            margin-bottom: 15px;
            font-size: 1.3em;
        }

        #comments{
            width: 350px;
            border: 2px solid gray;
        }

        #send{
            background-color: black;
            border: none;
            color: white;
            margin-left: 100px;
            margin-top: 10px;
            width: 150px;
        }
    }

    @media only screen and (max-width: 375px){
        main{
            display: block;
        }
        
        #googlemap-image{
            display: block;
            width: 350px;
            height: 100%;
            margin-left: 13px;
        }

        .nearest-location{
           display: block;
           margin-left: 2%;
           margin-top: -190px;
           width: 350px;
           height: auto;
        }

        .form{
            margin-left: 5px;
            width: 350px;
        }

        #FirstName, #LastName, #email{
            display: inline-block;
            width: 270px;
            text-align: left;
            margin-right: 6px;
            margin-bottom: 15px;
            font-size: 1.3em;
        }

        #comments{
            width: 300px;
            border: 2px solid gray;
        }

        #send{
            background-color: black;
            border: none;
            color: white;
            margin-left: 80px;
            margin-top: 10px;
            width: 150px;
        }
    }

    @media only screen and (max-width: 320px){
        main{
            display: block;
        }
        
        #googlemap-image{
            display: block;
            width: 300px;
            height: 100%;
            margin-left: 10px;
        }

        .nearest-location{
           display: block;
           margin-left: 2%;
           margin-top: -190px;
           width: 310px;
           height: auto;
        }

        .nearest-location-text{
            font-size: 20px;
        }

        .form{
            margin-left: 5px;
            width: 315px;
        }

        #FirstName, #LastName, #email{
            display: inline-block;
            width: 220px;
            text-align: left;
            margin-bottom: 15px;
            margin-left: 13px;
            font-size: 1.3em;
        }

        #comments{
            width: 280px;
            border: 2px solid gray;
            margin-left: -20px;
            margin-top: -25px;
        }

        #send{
            background-color: black;
            border: none;
            color: white;
            margin-left: 45px;
            margin-top: 10px;
            width: 150px;
        }
    }
        
        























    @media only screen and (max-width: 750px){
    .content{
        margin-top: 80px;
    }
}
