.centered {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.banner{
    position: relative;
    text-align: center;
}

.banner a{
    color: white;
    background-color: black;
    padding: 15px;
    text-transform: uppercase;
    font-family: $main-heading-font;
    text-decoration: none;
    list-style: none;
    font-size: 1.5vw;
    transition: ease-in-out 0.4s all;
    white-space: nowrap;
}

.banner a:hover{
    color: black;
    background-color: white;
    border: 2px solid black;
}

.banner h2{
    font-family: $main-heading-font;
    font-size: 100px;
    color: white;
    text-transform: capitalize;
    font-size: 6vw;
    margin-bottom: 40px;
    transition: ease-in-out 0.4s all;
    white-space: nowrap;
}



/*Banner Media Queries Start*/
@media only screen and (max-width: 750px){

    main {
        margin-top: 50px;
    }
    
    .centered {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .banner{
        position: relative;
        text-align: center;
        width: 100%;
    }
    
    .banner a{
        color: white;
        background-color: black;
        padding: 8px;
        text-transform: uppercase;
        font-family: $main-heading-font;
        text-decoration: none;
        list-style: none;
        font-size: 2.5vw;
        transition: ease-in-out 0.4s all;
    }
    
    .banner h2{
        font-family: $main-heading-font;
        color: white;
        text-transform: capitalize;
        font-size: 8vw;
        margin-bottom: 15px;
        transition: ease-in-out 0.4s all;
    }

    .companyname{
        display: block;
    }

    .banner{
        display: block;
    }
}

@media only screen and (max-width: 450px) {
    .centered {

        h2 {
            font-size: 10vw;
            margin-bottom: 5px;
        } 
        
        a {
            font-size: 3vw;
            padding: 5px;
        }
    }
}


/*Banner Media Queries End*/