.banner-one{
    width: 100vw;
    object-fit: cover;
}

#banner-background{
    width: 100vw;
    object-fit: cover;
}

.summer{
    padding: 5px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 85px;
    position: absolute;
    color: black;
    margin-left: 50%;
    margin-top: 15%;
    z-index: 9999;
}

.collection{
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    position: absolute;
    margin-left: 1045px;
    margin-top: 21%;
    color: white;
    background: black;
    z-index: 9999;
}

.collection:hover{
    color: black;
    background: white;
    border: 2px solid black;
}