@charset 'utf-8';

.milk-studios{
    font-size: 40px;
    
}

.milk-studios-desc{
    text-align: left;
    
}

.milk-box{
    width: 650px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.705);
    border: 3px solid red;
    position: absolute;
    margin-left: 1050px;
    margin-top: 65px;
    z-index: 9999;
}

#woman-red-top{
    margin-left: 65px;
    margin-top: 65px;
    object-fit: cover;
    position: absolute;
}

#vancouver-background{
    float: right;
    margin-left: 880px;
    margin-top: 65px;
    position: absolute;
}