@charset 'utf-8';

/*Milk-Box Text Styles Start*/
.milk-studios{
    font-size: 40px;
    padding: 20px;
}

.milk-studios-desc{
    text-align: left;
    padding: 20px;
}

.milk-box{
    width: 550px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.877);
    position: absolute;
    margin-left: 1050px;
    margin-top: 120px;
    z-index: 9999;
}
/*Milk-Box Text Styles End*/

/*Content Images Styles Start*/
#woman-red-top{
   
}

#vancouver-background{
   
}

#clothing-rack{
   
}
/*Content Images Styles End*/



