.under-cons-container {
    width: 75%;
    margin: auto;
    margin-top: 30vh;
    margin-bottom: 50px;
    text-align: center;
    line-height: 1.2;
    

    .under-cons-text {
        padding-bottom: 50px;
        border-bottom: 2px solid #000;

        h2 {
            font-size: 4vw;
            color: $brand-color;
        }

        h3 {
            font-size: 2.5vw;
        }
    }

    .go-back-text {

        margin-top: 25px;

        h1 {
            float: unset;
            transition: unset;
            margin: 0;
            line-height: unset;
        }

        p {
            font-size: 1.5vw;
            display: inline;
            font-weight: bold;
            text-decoration: underline;
        }
    }

    @media screen and (max-width: 800px){
        .under-cons-text {
            .under-cons-br {
                display: block;
            }

            h2 {
                font-size: 8vw;
            }
    
            h3 {
                white-space: nowrap;
                font-size: 5vw;
            }
        }
    
        .go-back-text {
    
            h1 {
                font-size: 4.5vw;
            }
    
            p {
                font-size: 3vw;
            }
        }
    }
}