@import 'variables';

.collection-banner {
    width: 100%;
    height: 915px;
    display: flex;
    justify-content: flex-end;
    position: relative;

    .collection-banner-txt{
        margin-left: 100px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color:rgba(255, 255, 255, 0.658);
        padding: 40px;
        border: 5px solid #000; 
        
        h2 {
            font-size: 90px;
            color: $brand-color;
        }

        h3 {
            font-size: 50px;
            line-height: 1.3;
        }
    }

    img {
        width: 55%;
        object-fit: cover;
    }

    @media screen and (max-width: 1500px) {
        img {
            width: 100%;
            object-position: 50% 25%;
        }

        .collection-banner-txt {
            margin: 0;
            padding-left: 100px; 
            border: none;
        }
    }

    @media screen and (max-width: 1000px){

        .collection-banner-txt {
            width: 100%;
            padding: 25px;

            h2 {
                font-size: 8vw;
            }

            h3 {
                font-size: 5vw;
            }
        }
    }

    @media screen and (max-width: 750px){
        margin-top: 50px;
    }

    @media screen and (max-width: 550px){
        height: 450px;
    }
}