.collection-items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 536px);
    grid-template-rows: repeat(2, 678px);
    grid-gap: 20px;
    row-gap: 150px;
    padding: 140px;
    padding-top: 200px;

    img {
        height: 100%;
        object-fit: cover;
    }
}