.items-container {
    display: flex;
    margin: 100px;

    .img-and-bck-container {
        margin-right: 100px;
        width: 300%;

        img {
            width: 100%;
            object-fit: cover;
            margin-top: 10px;
        }

        p {
            display: inline;
            font-weight: bold;
        }
    }

    .item-text {
        width: 100%;
        margin: auto 0;
        text-transform: capitalize;

        h1 {
            font-size: 35px;
            margin-bottom: 10px;
        }

        .select-size {
            margin-top: 50px;
            margin-bottom: 30px;

            label {
                display: block;
                margin-bottom: 10px;
            }

            select {
                padding: 5px;
                font-size: 20px;
                border: 1.5px solid #000;
            }
        }

        input {
            border: none;
            color: #fff;
            background-color: #000;
            padding: 15px;
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;

            &:hover {
                background-color: $brand-color;
                cursor: pointer;
            }
        }
    }

    @media screen and (max-width: 1300px){

        flex-direction: column;
        margin-top: 50px;

        .img-and-bck-container {
            width: 100%;
            margin: 0 auto;
            margin-bottom: 45px;

           img {
               display: block;
               width: 100%;
           }
        }
    }

    @media screen and (max-width: 650px){
        margin: 20px;
        margin-top: 35px;
        margin-bottom: 70px;

        input {
            width: 100%;
        }
    }
    
}