.collection-items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 678px);
    grid-gap: 20px;
    grid-row-gap: 150px;
    padding: 100px;
    padding-top: 200px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .item-02 img,
    .item-05 img {
        object-position: right top;
    }

    p {
        text-transform: capitalize;
        display: inline;
    }

    @media screen and (max-width: 1500px){
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 678px);
        grid-row-gap: 100px;
    }

    @media screen and (max-width: 1000px){
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 678px);
        text-align: center;

        img {
            object-position: 50% 0;
        }
    }

    @media screen and (max-width: 550px){
        padding: 100px 25px;
        grid-template-rows: repeat(6, 400px);
    }
}