.about-margin {
    margin-left: 140px;
    margin-right: 140px;

    h2 {
        font-size: 100px;
        color: $brand-color;    
        margin-top: 100px;
        margin-bottom: 35px;
    }

    @media screen and (max-width: 1000px) {
        margin: 45px;

        h2 {
            font-size: 8vw;
            text-align: center;
        }
    }

    @media screen and (max-width: 550px){
        margin: 0;

        h2 {
            margin-top: 40px;
            font-size: 10vw;
        }

        p {
            padding-left: 40px;
            padding-right: 40px;
        }
        
    }

    @media screen and (max-width: 400px){

        margin-top: 20px;

        h2 {
            font-size: 11vw;
        }

        p {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}