.about-info {
    display: flex;

    img {
        object-fit: cover;
        width: 816px;
    }

    p {
        margin: auto;
        margin-left: 50px;
    }

    @media screen and (max-width: 1500px) {
        flex-direction: column;

        img {
            width: 100%;
        }

        p {
            margin-left: auto;
            margin-top: 40px;
        }
    }
}