.eco-info {
    display: flex;
    padding: 140px;
    padding-bottom: 0;
    width: 100%;

    img {
        width: 256px;
        height: 256px;
        display: block;
        margin: auto;
        margin-bottom: 55px;
    }

    p {
        text-align: center;
    }

    .eco-item {
        padding: 45px;
        width: 100%;
    }

}