.sustainable-sect {
    display: flex;
    margin-bottom: 100px;

    img {
        width: 45%;
        height: 815px;
        object-fit: cover;
    }

    p {
        font-size: 2vw;
        margin: auto;
        margin-right: 50px;
        font-family: $main-heading-font;
    }

}