.sustainable-sect {
    display: flex;
    margin-bottom: 100px;

    img {
        width: 45%;
        height: 815px;
        object-fit: cover;
    }

    p {
        font-size: 2vw;
        margin: auto;
        margin-right: 50px;
        font-family: $main-heading-font;
    }

    @media screen and (max-width: 1500px){
        flex-direction: column-reverse;
        position: relative;

        img {
            width: 100%;
        }

        p {
            position: absolute;
            bottom: 0;
            padding: 50px;
            width: 100%;
            background-color: black;
            color: white;
        }
    }
}