.sustainable-sect {
    display: flex;
    margin-bottom: 100px;

    img {
        width: 45%;
        object-fit: cover;
    }

    p {
        font-size: 3vw;
        margin: auto;
        margin-right: 50px;
        font-family: $main-heading-font;
    }

    @media screen and (max-width: 1500px){
        flex-direction: column-reverse;
        position: relative;

        img {
            width: 100%;
        }

        p {
            position: static;
            padding: 50px;
            width: 100%;
            background-color: black;
            color: white;
        }
    }

    @media screen and (max-width:1000px) {

        p {
            padding: 25px;
        }
    }

    @media screen and (max-width: 550px) {

        margin-bottom: 20px;

        p {
            font-size: 6vw;
        }
    }
    
}